#pie {
    background-color: rgb(187, 182, 182);
    position: relative;
}
/* footer {
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
} */
