#login-container {
    margin-top: 10%;
    margin-bottom: 7%;
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
    margin: 10% 0;
}

#login-container button {
    margin-top: 20px;
}

#login-container .form-label {
    text-align: left;
}
