.productos {
    margin-top: 100px;
}

#imagen {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#precio {
    background: rgba(95, 199, 64, 0.9);
    transition: all 0.3s ease-out;
    transform: translateY(100%);
    position: absolute;
    line-height: 1.9;
    text-align: center;
    font-size: 120%;
    color: #fff;
    height: 200px;
    width: 200px;
    left: 0;
    top: 0;
    padding-top: 60px;
}
.precio h3 {
    text-align: center;
}
#imagen:hover #precio {
    transform: translateY(0);
}
#imagen:hover img {
    transition: all 0.3s ease-out;
}
#imagen:hover img {
    transform: scale(1.2, 1.2);
}

